
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/uploads/
/public/assets/js/d3/*
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
### symfony dirs ###
/vendor/
/var/cache/
.env
/.idea/
/src/Migrations/
/var/log
