{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block content %}
    <div class="row">
        {{ sonata_block_render({'type': 'admin.block.service.agenda'},{
            'entity':               'App\\Entity\\Tache',
            'repository_method':    'findByOneDayTimeLine',
            'title':                'Tache'
        }) }}
    </div>
{% endblock %}